<h4>SongRake is an easy way for DJs to gather song requests from company employees or groups for their special occasion. Enjoy!</h4>

<h5>SongRake was built by <a href="http://www.twitter.com/rishtal" target=”_blank”>Rishi Talwar</a> and <a href="http://www.twitter.com/hajpoj" target=”_blank”>Hajime Furukawa</a>.</h5>



