<h4>SongRake is an easy way for you to gather songs with your friends. Create a rake and share it. Enjoy!</h4>

<h5>Built with lots of love by <a href="http://www.twitter.com/hajpoj" target=”_blank”>Hajime Furukawa</a> and <a href="http://www.twitter.com/rishtal" target=”_blank”>Rishi Talwar</a>.</h5>



