<div class="row">
	    		    <div class="span16">
	    		    	<div class="row">
	    		    		<div class="span6">
	    		    			<h2>Welcome to SongRake!</h2>
	    		    		</div>
	    		    		<div class="span6">
	    		    			<div class="signup">
									
	    		    			</div>
	    		    			
	    		    		</div>

	    		    	</div>
	    		    </div>
</div>
