//Place css related to the views associated with devise
//e.g. session and registration.

.registrations, .sessions, .passwords {
  
  .home-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 50px;
  }

  #header-section {
    text-align: center;

    #songrake-header {
      #songrake-title {
        font-size: 100px;
        font-weight: bold;
        line-height: 100px;
      }
    }
  }

  section {
    form .input {
      margin-left: 0px
    }

    label {
      width: 230px;
      font-size: 20px;
    }

    #button {
      margin-left: 250px;
      margin-top: 20px;
    }
  }
}

.sessions.new {

  .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    padding-top:50px;
    padding-bottom: 0px;
  }

  .sub-title {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 50px;
    color: Grey;
  }

  section {

    .left-col {
      border-right: 2px solid lightGrey;
      margin-right: -2px;
    }

    form .input {
      margin-left: 0px
    }

    label {
      width: 150px;
      font-size: 20px;
      line-height: 22px;
    }

    #button {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}