// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.index {

  .container-extended {
    height: 400px;
    background-color: #D2E8F8;
  }

  .content {
    padding-top: 75px;
    border: 0px;
    background-color: #D2E8F8;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .home-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 50px;
  }

  #left-header-section {
    margin-left:60px;
    width: 420px;
    
    h1 {
      font-size: 50px;
      font-weight: bold;
      line-height: 60px;
      width: 500px;
    }

    h3 {
      font-size: 16px;
      line-height: 22px;
      color: grey;
      font-weight: normal;
    }

    li {
      color: black;
      font-size: 20px;
      line-height: 30px;

    }

  }

  #right-signup-section {

    #signup-header {
      font-size: 13px;
      margin-left:200px;
    }

    form .input {
      margin-top: 10px;
      margin-left:200px
    }

    #signup-button {
      margin-left: 333px;
      margin-top: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}




