// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlists {

  //**** playlist/index ********************************
  //Pagination hack to get it to be centered.
  //https://github.com/twitter/bootstrap/issues/304
  .pagination {

    text-align: center;

    ul {
      float: none;
      display: inline-block;
      overflow: hidden;
    }
  }


  //**** playlist/show ********************************

  .sub-title {
    font-size:20px;
  }

  .become-raker-text {
    margin-top:50px;
    margin-bottom: 20px;
    font-size:20px;
    line-height: 30px;
  }

  .become-raker-button {
    margin-top: 10px;
    margin-left: 480px;
    padding-top: 10px;
  }

  .sidebar {
    background: whiteSmoke;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

  .rakers {
    width: 90%
  }

  #add-song-header {
    margin-top: 75px;
  }

  #add-song-bar {
    margin-bottom: 50px;
    margin-top:    25px;
  }

  .song-table-title {
    height: 50px;
    p {
      font-size:30px;
      line-height:50px;
    }
  }

  .playlist-song-item {
    border-top-color: #DDD;
    border-top-style: solid;
    border-top-width: 1px;
  }

  .odd_song {
    background-color: whiteSmoke;
  }

  .even_song {
    background-color: transparent;
  }

  //**** playlist/_new_user_modal ********************************
  #new-user-modal {
    .modal-header {
      h1 {
        margin-top: 18px;
      }
    }

    .modal-body {
      font-size: 20px;
      line-height: 30px;
    }
  }

}

//**** playlist/_form_modal ********************************
#playlist-form-modal {

  .modal-header {
    h1 {
      margin-top: 18px;
    }
  }
  
  form .input {
    margin-left: 50px;
  }

  label {
    width: 150px;
    font-size: 20px;
  }
  
  label.required {
    margin: 0px 20px 0px -13px;
    width: 163px;
  }
  
  form {
    margin: 0px;
  }
}

//**** playlist/_playlist ********************************
.playlist-list-item {
  margin-bottom: 75px;

  .playlist-list-item-header {
    position: relative;
  }

  form {
    margin-bottom: 0px;
  }
  .btn {
    margin-top: 4px;
  }

  .raker-role-join {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: gray;
    font-size: 16px;
    padding-bottom: 12px;
  }

  .list-item-body {
    font-size: 20px;

    .no-description {
      color: gray;
      font-style: italic;
    }

    .songs-rakers {
      color: gray;
      font-size: 16px;
    }
  }
}