// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlists {

  .create-btn {
    float: right;
  }


  #new-user-modal {

    .modal-header {
      h1 {
        margin-top: 18px;
      }
    }

    .modal-body {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

#playlist_form_modal {
  form {
    margin: 0px;
  }
}