// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlists {

  .create-btn {
    float: right;
  }

  #new-user-modal {
    .modal-header {
      h1 {
        margin-top: 18px;
      }
    }

    .modal-body {
      font-size: 20px;
      line-height: 30px;
    }
  }

  //Pagination hack to get it to be centered.
  //https://github.com/twitter/bootstrap/issues/304
  .pagination {

    text-align: center;

    ul {
      float: none;
      display: inline-block;
      overflow: hidden;
    }
  }
}

#playlist-form-modal {

  .modal-header {
    h1 {
      margin-top: 18px;
    }
  }
  
  form .input {
    margin-left: 50px;
  }

  label {
    width: 150px;
    font-size: 20px;
  }
  
  label.required {
    margin: 0px 20px 0px -13px;
    width: 163px;
  }
  
  form {
    margin: 0px;
  }
}

.playlist-list-item {
  margin-bottom: 75px;

  .playlist-list-item-header {
    position: relative;
  }

  form {
    margin-bottom: 0px;
  }
  .btn {
    margin-top: 4px;
  }

  .raker-role-join {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: gray;
    font-size: 16px;
    padding-bottom: 12px;
  }

  .list-item-body {
    font-size: 20px;

    .no-description {
      color: gray;
      font-style: italic;
    }

    .songs-rakers {
      color: gray;
      font-size: 16px;
    }
  }
}

.sidebar {
    background: whiteSmoke;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.rakers {
  width: 90%
}