// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songs {


}

.addsongs {
    margin-left: 240px;
    width: 730px;
}

.arrowup {
  border-style: none;
  width: 15px;
}

.arrowdown {
  border-style: none;
  width: 15px;

}