// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songs {

}

//**** song/_form ********************************
.add-song-row {
  padding-left: 45px;
}

//**** song/_song ********************************

@mixin song-cell-base {
  height:50px;
  float: left;

  p {
    font-size:15px;
    padding-top: 15px;
    line-height:20px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.song-item {

  height:50px;

  .plusminus-vote {
    width: 60px;
  }

  .song-item-plusminus {
    @include song-cell-base;
    width: 35px;
    p{
      text-align: center;
    }
  }

  .song-item-vote{
    float: left;
    font-size: 20px; //this is affecting the arror size.

    .arrow {
      border-style: none;
      padding: 0px;
      width: 15px;
      height: 10px;
    }

    form {
      margin: 0px;
      width:20px;

      //Remove shadow around arrows
      input, textarea {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .song-item-title {
    @include song-cell-base;
    margin-left: 0px;
    width: 230px;
  }

  .song-item-artist {
    @include song-cell-base;
    width: 230px;
    margin-left: 10px;
  }

  .song-item-username {
    @include song-cell-base;
    margin-left: 10px;
  }
}




