// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter {
	
	padding-bottom: 100px;
}

.status {
	position: relative;
	bottom: 60px;
}