// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {

  .create_playlist {
    float: right;
    padding: 0px;
    margin: 0px;
  }

  .sidebar {
    background: whiteSmoke;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

  #karma-count {
    color: #404040;
  }

  .rake-header {
    margin-top: 50px;
    margin-bottom: 75px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 0px 0px;
    background-color: transparent;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .songrake-text {
    font-size: 20px;
  }

  .no-rakes-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .no-rakes-text {
    margin-bottom: 50px;
  }
}