// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create_playlist {
	
	float: right;
	padding: 0px;
	margin: 0px;
}

.sidebar {
	background: whiteSmoke;
	padding: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}