<div id="new-user-modal" class="modal hide fade" style="display: block; ">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h1>Awesome! You created an account!</h1>
  </div>
  <div class="modal-body">
    You can now <strong>create</strong> your own Rake!
  </div>
  <div class="modal-footer">
    <div id="modal-create-btn" class="btn primary">Create a Rake</div>
  </div>
</div>