<div id="new-user-modal" class="modal hide fade" style="display: block; ">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h1>Awesome! You created an account!</h1>
  </div>
  <div class="modal-body">
    You can now <strong>create</strong> your own SongRake or <strong>browse and contribute</strong> to someone else's!
  </div>
  <div class="modal-footer">
    <div id="create-btn" class="btn secondary">Create a SongRake</div>
    <div id="browse-btn" class="btn primary">Browse existing SongRakes</div>
  </div>
</div>