<h1>Listing playlists</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= playlist.description %></td>
      <td><%= link_to 'Show', playlist %></td>
    </tr>
  <% end %>
  </tbody>
</table>

