<h1>All Rakes</h1>

<div class="row">
  <div class="span12 offset2">
    <table>
      <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <%= render :partial => "playlist", :locals => {:playlist => playlist} %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "new_user_modal" %>

<!--
Do not need to have a "render form_modal" because we inherit one from
layouts/application.html.erb
-->

<% if flash[:new_user] %>
  <script type="text/javascript">
    $('#new-user-modal').modal({
      backdrop: "static"
    })
    $('#new-user-modal').modal('show')

    $('#browse-btn').click(function() {
      $('#new-user-modal').modal('hide')
    })

    $('#create-btn').click(function() {
      $('#new-user-modal').modal('hide')
      
      $('#playlist_form_modal').modal({
        backdrop: "static"
      })
      $('#playlist_form_modal').modal('show')
    })
  </script>
<% end %>
