<div class="row">
  <div class="span12 offset2">
    <div class="title">All Rakes</div>
  </div>
</div>

<div class="row">
  <div class="span12 offset2">
    <% @playlists.each do |playlist| %>
      <%= render :partial => "playlist", :locals => {:playlist => playlist, :view=> "playlists#show"} %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= will_paginate @playlists %>
</div>

<!--
Do not need to have a "render form_modal" because we inherit one from
layouts/application.html.erb
-->

<script type="text/javascript">
  $(function () {
    $(".join-playlist-btn")
      .popover({
        offset: 10,
        placement: "below"
      });
  })
</script>

